{% extends "base.html" %}
{% block content %}
<main>
  <div class="container py-5">
    <ul>
        <li>
          <h4>Место: {{ post.location}}</h4>                
        </li>
        <li>
          <h4>Дата: {{ post.date }} </h4>
        </li>
        <li>
          Категория:<a href="{% url 'blog:category_posts' post.category %}"> {{ post.category }}</a> 
        </li>
    </ul>        
      <p>{{ post.text }} </p>                
                      
  </div>
</main>
{% endblock %}
